.gadgets-gadget-chrome {
	border-color:#CCCCCC;
	border-style:solid;
	border-width:1px;
	margin-bottom: 12px;
	width: 488px;
}

.gadgets-gadget {
	border: none;
}

.gadgets-gadget-title-bar {

}

.gadgets-gadget-title {
	font-weight: bold;
}

.gadgets-gadget-title-button-bar {
	font-size: smaller;
	float: right;
}

.gadgets-gadget-user-prefs-dialog {
	background-color: #e5ecf9;
}

.gadgets-gadget-user-prefs-dialog-action-bar {
	text-align: center;
	padding-bottom: 4px;
}

.gadgets-gadget-title-button {
	margin-right: 6px;
}

.gadgets-gadget-content {
	padding: 4px;
}

.gadgets-log-entry {
	
}
